:root {
    /* LIGHT THEME */
    --app-bg: #eef2ff;

    --county-fill: #c7d2fe;
    --county-stroke: #6366f1;
    --county-hover: #4f46e5;

    --text-color: #111827;

    /* LABELS (light theme) */
    --label-fill: #111827;
    --label-stroke: #ffffff;

    --ion-background-color: #eef2ff;
    --ion-text-color: #111827;
    --ion-toolbar-background: #ffffff;
    --ion-toolbar-color: #111827;
}

body.dark {
    /* DARK THEME */
    --app-bg: #020617;
    --map-bg: #0f172a;

    --county-fill: #1e293b;
    --county-stroke: #334155;
    --county-hover: #3b82f6;

    --text-color: #f8fafc;

    --label-fill: #f8fafc;
    --label-stroke: #020617;

    --ion-background-color: #020617;
    --ion-text-color: #f8fafc;
    --ion-toolbar-background: #0f172a;
    --ion-toolbar-color: #f8fafc;
}


.theme-toggle {
    position: absolute;
    top: 2px;
    right: 12px;
    z-index: 1000;

    --color: var(--ion-text-color);

    --background: transparent;

    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}